* {
    font-size: 34px;
    color: rgb(254, 250, 250);
    text-align: center;
    font-family: monospace;
}

input {
    background-color: rgb(79, 79, 96);
    width: 95%;
}

button {
    background-color: rgb(79, 79, 96);
    width: 90px;
    height: 50px;

    min-width: fit-content;
}

.calc {
    padding: 10px;
    display: inline-block;
    background-color: rgb(132, 132, 153);

}

a,
h1 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

table {

    margin: 10px;
}
